@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/presets/monochromic_preset.css');
@import url('https://ctalvio.github.io/Monochromic/customcolor-advanced_style.css');

:root {
    --accent: 0, 95, 90;
    --rounding: 5px;
}

.section0 .itemsContainer {
    flex-wrap: wrap;
}

.trackSelections {
    max-width: 44em;
}

.skip-button {
    background-image: linear-gradient(to right, #1A2980 0%, #26D0CE 51%, #1A2980 100%);
    background-size: 200% auto;
    color: #fff;
    border-radius: 25px;
    transition: 0.5s;
}

.skip-button:hover {
    background-position: right center;
}
