@import url('https://cdn.jsdelivr.net/gh/CTalvio/Ultrachromic/presets/monochromic_preset.css');
@import url('https://ctalvio.github.io/Monochromic/customcolor-advanced_style.css');

:root {
    --accent: 0, 95, 90;
    --rounding: 5px;
}

.section0 .itemsContainer {
    flex-wrap: wrap;
}

.trackSelections {
    max-width: 44em;
}

.skip-button{
    background: #77b8d1;
    background: radial-gradient(circle, rgba(119, 184, 209, 1) 0%, rgba(87, 199, 133, 1) 50%, rgba(237, 221, 83, 1) 100%);
}